/* Fonts */

$primary-header-font: 'Great Vibes', cursive;
$decorative-font: 'Monoton', sans-serif;
$serif-upper-font: 'Playfair Display SC', serif;
$serif-font: 'Crimson Text', serif;
$cursive-font: 'Parisienne', cursive;
$light-font: 'Poiret One', sans-serif;
$decorative-rough-font: 'Special Elite', serif;
$nav-font: 'Didact Gothic', sans-serif;


$letter-spacing: .1rem;

$white: #d6e4ea;
$whiter: #eef3f5;
$purple: #5c05b9;

$ltpurple: adjust-color($purple, $lightness: -25%);

$large: 996px;
$medium: 768px;

