/* ==========================================================================
 * File Name:         Variables
 * Description:       List of all variables used in Berry
 * Editing Details:   Change any variable you want to override to the values
                      you choose and recompile this SASS file

 * Note: Variables are grouped according to sections/type for ease of reference
 ============================================================================ */
/* ==========================================================================
 *
 * COLOURS
 * True to its name, berry has a colour-scheme of fun, jewelled-toned hues
 * To change any colours, simply swap out the current HSL values for your desired ones
 *
============================================================================= */
/* ==========================================================================
 *
 * FONT SCALES, TYPES & WEIGHTS
 * Berry comes equipped with three Google fonts - a serif, a sans-serif, and an accent font
 * To change any font, simple slide in your Google font code into any of the variables below
 *
============================================================================= */
/* ==========================================================================
 *
 * HEIGHTS, PADDING & MARGIN
 * Default height, padding and margin values
 *
 *
============================================================================= */
/* Padding */
/* Margins */
/* Line Height */
/* Container Heights */
/* ==========================================================================
 *
 * BUTTONS
 * Button heights, padding, and edges
 *
 *
============================================================================= */
:root {
  --button-font-size: 0.9rem;
  --button-margin-top: 1em;
  --button-margin-side: 0.75em;
  --line-height: auto;
}

/* ==========================================================================
 *
 * CARDS
 * Card colours, padding, box-shadow, and backgrounds
 *
 *
============================================================================= */
/* ==========================================================================
 * File Name:         Fonts
 * Description:       List of all scaled font sizes and relevant spacing
 *
 * Fonts are set using a responsive typescale that sets font sizes along a
   specified ratio. You can change the size of your fonts by changing the
   multiplier map in variables.scss, by setting your own ratio as a new map key,
   or by changing the base-font CSS variable below.
 *
 * For information about type scaling, read the link below:
   https://medium.com/sketch-app-sources/exploring-responsive-type-scales-cf1da541be54
 *
============================================================================= */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

a {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  color: #559175;
}

.accent-font {
  font-family: "Comfortaa", sans-serif;
}

.primary-font {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.secondary-font {
  font-family: "Playfair Display", serif;
}

strong {
  font-weight: 700;
  color: #d2747b;
}

/* ============================================================================
    Font Sizing
 * ============================================================================ */
/**
  * Custom function that calculates font-sizes and takes the following parameters:
  * @param {Number} $h-number - The number attached to your H tag (1 for H1, 2 for H2, etc)
  *
  */
:root {
  --base-font: 1.1rem;
}

/*
 * Desktop Font Sizes
 *
 */
body {
  font-size: var(--base-font);
}

h1 {
  font-size: calc(var(--base-font) * 5.61023);
}

h2 {
  font-size: calc(var(--base-font) * 4.20873);
}

h3 {
  font-size: calc(var(--base-font) * 3.15733);
}

h4 {
  font-size: calc(var(--base-font) * 2.36859);
}

h5 {
  font-size: calc(var(--base-font) * 1.77689);
}

h6 {
  font-size: calc(var(--base-font) * 1.333);
}

/*
 * Media Query Font Size: Changing typescale across breakpoints from Perfect Fourth to Major Second
 * Tablets: 1 stop down from 1 rem
 * Phones: 2 stops down from 1 rem
 *
 */
@media (max-width: 768px) {
  :root {
    --base-font: calc(1em / 1.125);
  }
}

@media (max-width: 560px) {
  :root {
    --base-font: calc(1em / calc(1.125 * 1.125));
  }
}

/* ============================================================================
    Font Spacing
 * ============================================================================ */
/* Line Height */
body * {
  line-height: 1.5em;
}

/* Font Bottom Margins
 */
p {
  margin: 0 0 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 1rem 0;
}

.large-line-height {
  line-height: calc(1.5em + 2em);
}

.small-line-height {
  line-height: calc(1.5em - 0.2rem) !important;
}

/* ==========================================================================
 *
 * FONT COLOURS
 * Default font colours for general HTML text elements
 *
 *
============================================================================= */
h1 {
  color: #757072;
}

h2 {
  color: #7a5263;
}
