/* Variables */

/* --Fonts-- */
/* Orbitron - 500/900 (Logo) */
/* Oswald - Headings */
/* Open Sans 400/700 (Body) */
$sans-font: "Open Sans", sans-serif;
$primary-header-font: "Orbitron", sans-serif;
$secondary-header-font: "Oswald", sans-serif;

/* Screen Sizes */
/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
$small: 600px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;