@import 'variables.scss';
/* ==========================================================================
 *
 * File Name:         Button
 * Description:       Turnkey button styles with some cool animations
 * Editing Details:   Change button colours in the variables.scss file
 * Use:               Add the appropriate button class to any <a> tag that you
                      want to style as a button
 *
 ============================================================================ */
%general-button {
  text-decoration: none;
  padding: 0.6rem 1.8rem;
  margin: var(--button-margin-top) var(--button-margin-side);
  font-size: var(--button-font-size);
  line-height: var(--line-height);
  background: map-get($accent,yellow);
  text-align: center;
  font-family: $accent-font;
}

.button {
  @extend %general-button;
}

.button-pill {
  @extend %general-button;
  border-radius: 100px;
}
// Button colour mixin
@mixin button-colour ($colour) {
  background: lighten($colour, 10%);
  color: $button-text-light;

  &:hover {
    background: darken($colour, 5%);
  }

  &:active {
    background: darken($colour, 25%);
  }
}

.button-default {
  @include button-colour ($button-primary-colour);
}

.button-secondary {
  @include button-colour ($button-secondary-colour);
}

.button-tertiary {
  @include button-colour ($button-tertiary-colour);
}

.button-accent {
  @include button-colour ($button-accent-colour);
}

.button-light {
  @include button-colour ($button-white);
  color: $button-text-dark;
}
// Ghost button mixin
@mixin button-ghost ($colour) {
  border: solid $colour 2px;
  background: none;
  color: $button-text-dark;

  &:hover {
    background: darken($colour, 5%);
    color: $button-text-light;
  }

  &:active {
    background: darken($colour, 25%);
    color: $button-text-light;
  }
}

.button-ghost-default {
  @include button-ghost ($button-primary-colour);
}

.button-ghost-secondary {
  @include button-ghost ($button-secondary-colour);
}

.button-ghost-tertiary {
  @include button-ghost ($button-tertiary-colour);
}

.button-ghost-accent {
  @include button-ghost ($button-accent-colour);
}

.button-ghost-light {
  @include button-ghost ($button-white);
  color: $button-text-dark !important;
}

.button-large {
  padding: 0.8rem 2rem;
  margin: 50px 1rem !important;
  font-size: calc(var(--button-font-size) + 0.3rem);
  letter-spacing: 2px;
}

.button-small {
  padding: 0.6rem 1.8rem;
  margin: 0.5rem 0.6rem;
  font-size: calc(var(--button-font-size) - 0.3rem);
  letter-spacing: 2px;
}
/*
 * Media Query Font Size: Changing typescale across breakpoints from Perfect Fourth to Major Second
 * Tablets: 1 stop down from 1 rem
 * Phones: 2 stops down from 1 rem
 *
 */
@media only screen and (min-width: 0px) and (max-width: map-get($breakpoints, sm)) {
  :root {
    --button-font-size: calc(1rem * #{map-get($multipliers, major-second)});
    --button-margin-side: 0.3em;
    --line-height: calc(#{$general-line-height} + 2.3rem);
  }
}
@media only screen and (min-width: map-get($breakpoints, sm)) and (max-width: map-get($breakpoints, md)) {
  :root {
    --button-font-size: calc(1rem * #{map-get($multipliers, major-second)});
    --button-margin-side: 0.5em;
    --line-height: calc(#{$general-line-height} + 1.8rem);
  }
}
