@media screen and (min-width: $medium) {
    .jumbotron {
        background: linear-gradient(to right, #3204fde6, #9907fae6), url("../../images/main-jumbo_1200px.jpg") no-repeat center;
        background-size: cover;
        height: 100vh;

        nav a {
            font-size: 1.65rem;
        }
    }

    .flex {
        flex-direction: row;
    }
}