/* Fonts */

$primary-header-font: 'Great Vibes', cursive;
$nav-font: 'Didact Gothic', sans-serif;

$letter-spacing: .1rem;

$white: #d6e4ea;
$purple: #5c05b9;

$ltpurple: adjust-color($purple, $lightness: -25%);

$large: 996px;
$medium: 768px;

