
aside {
    
    p {
        background-color: var(--aside-bkg-color);
        color: var(--aside-fg-color);
        font-family: var(--font-aside-primary);
        font-size: var(--text-xl);
    }
}