@import '_variables.scss';

aside {
    
    p {
        background-color: $aside-bkg-color;
        color: $aside-fg-color;
        font-family: $font-aside-primary;
        font-size: $text-xl;
    }
}